<h1 class="p-4 text-white bg-primary text-center">Tab 1</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills mt-4 justify-content-center">
                <li class="nav-item"><a href="#javascript:;" class="nav-link"
                    [ngClass]="{
                        active : selectedFramework === 'angular'
                    }"
                    (click)="showFrameWork('angular')"
                    >Angular</a></li>
                <li class="nav-item"><a href="#javascript:;" class="nav-link"
                    [ngClass]="{
                        active : selectedFramework === 'react'
                    }"
                    (click)="showFrameWork('react')"
                    >React</a></li>
                <li class="nav-item"><a href="#javascript:;" class="nav-link"
                    [ngClass]="{
                        active : selectedFramework === 'vue'
                    }"
                    (click)="showFrameWork('vue')"
                    >Vue</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="tab-body">
                <div class="card mt-4 bg-warning" *ngIf="selectedFramework === 'angular'">
                    <div class="card-body">
                        <p><Strong>Angular</Strong> Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit. Cum distinctio natus corrupti ab ut vitae perferendis, 
                            adipisci tempora molestias amet eos! Sit consequatur accusantium tempora!</p>
                    </div>
                </div>
                <div class="card mt-4" *ngIf="selectedFramework === 'react'">
                    <div class="card-body bg-danger">
                        <p><Strong>React</Strong> Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit. Cum distinctio natus corrupti ab ut vitae perferendis, 
                            adipisci tempora molestias amet eos! Sit consequatur accusantium tempora!</p>
                    </div>
                </div>
                <div class="card mt-4" *ngIf="selectedFramework === 'vue'">
                    <div class="card-body bg-info text-white">
                        <p><Strong>Vue</Strong> Lorem ipsum dolor sit amet, consectetur 
                            adipisicing elit. Cum distinctio natus corrupti ab ut vitae perferendis, 
                            adipisci tempora molestias amet eos! Sit consequatur accusantium tempora!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="p-4 text-white bg-primary text-center mt-4">Tab 2</h1>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills justify-content-center mt-4">
                <li class="nav-item" *ngFor="let obj of tabArr">
                    <a href="javascript:;" class="nav-link text-uppercase"
                    [ngClass]="{
                        active : obj.title.toLowerCase().includes(selectedSkill)
                    }"

                    (click)="selectedSkill = obj.title"
                    >{{obj.title}}</a>
                </li>
            </ul>
        </div>
        <div class="row ">
            <div class="col-md-8 offset-md-2">
                <div class="tab-body">
                    <ng-container *ngFor="let obj of tabArr">
                        <div class="card mt-4" *ngIf="obj.title.toLowerCase().includes(selectedSkill)">
                            <div class="card-body" [innerHTML]="obj.content"
                            [ngClass]="{
                                'bg-danger': obj.title === 'javascript',
                                'bg-warning' : obj.title === 'html',
                                'bg-info': obj.title === 'css',
                                'text-white': obj.title === 'css'
                            }"
                            >
                                <!-- <p>{{obj.content}}</p> -->
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="p-4 text-white bg-primary text-center mt-4">Tab 3</h1>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills justify-content-center mt-4">
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link text-uppercase"
                    [ngClass]="{
                        active : num === 5
                    }"
                    (click)="num = 5"
                    >Number 5</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link text-uppercase"
                    [ngClass]="{
                        active : num === 10
                    }"
                    (click)="num = 10"
                    >Number 10</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link text-uppercase"
                    [ngClass]="{
                        active : num === 15
                    }"
                    (click)="num = 15"
                    >Number 15</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="row ">
            <div class="col-md-8 offset-md-2">
                <div class="tab-body">
                        <div class="card mt-4 mb-4">
                            <div class="card-body" [ngSwitch]="num">
                                <p class="text-center alert alert-info" *ngSwitchCase="5">The number is 5</p>
                                <p class="text-center alert alert-info" *ngSwitchCase="10">The number is 10</p>
                                <p class="text-center alert alert-info" *ngSwitchCase="15">The number is 15</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</div>